.web-header {
    height: 80px;
    background: #eceff1;
    color: #78909c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    .logo {
        padding-left: 15px;
        img {
            display: block;
            width: 70px;
            height: 70px;
        }
    }
    .github-icon {
        width: 2em;
        height: 2em;
    }
}

